*{
    padding: 0px;
    margin: 0px;
    
}

#wrapper{
    width: 100%;
    height: auto;
    border: 10px solid rgb(255, 155, 4);
    display: flex;
    
}



#left{
    width: 35%;
    background-color: rgba(3, 3, 46, 0.911);
    color: #fff;
}

#right{
    width: 100%;
}

#image{
    border-radius: 50%;
    margin-top: 15px;
    border: 4px solid rgb(219, 203, 203); 
}


.head_left{
    background-color: rgba(34,31,49);
    width: 160px;
    height: 25px;

}

.fp{
    display: inline-block;
    margin-left: 20px;
}



/* right side  */


.center{
    text-align: center;
}


